.container{
  width: 100%;
}
.turism_Section {
  margin: 20px;
  position: relative;
}
.turism_header h2 {
  color: #f8e005;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 33px;
  font-weight: 400;
  height: 40px;
  /* left: 495px; */
  letter-spacing: 0;
  line-height: 40px;
  position: relative;
  text-align: center;
  /* top: 786px; */
  white-space: nowrap;
}
.turism_desc h1 {
  color: #116b40;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 44px;
  font-weight: 500;
  height: 80px;
  line-height: 40px;
  position: relative;
  text-align: center;

  /* top: 841px; */


}

.eth_tur{
  display: flex;
  flex-direction: row;
  background: #838383;
  width: 100%;
}

.eth_tur_desc{
  width: 70%;
}

.eth_tur_img{
  width: 30%;
  background: #838383;
  
}
.eth_tur_img img{
  object-fit: cover;
  height: 250px;
}


.see_more {
  background-color: #32a2f3;
  border-radius: 50px;
  position: absolute;
  width: 226px;
  color: #fff6f9;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 23px;

}



@media (max-width: 1536px) {
  .container{
    width: 1536px;
  }

  .turism_header h2 {

    font-size: 26px;
  }
  
  
  .turism_desc h1 {
    font-size: 35px;
    font-weight: 400;
  
  }



  

  
}
@media (max-width: 1280px) {
  .container{
    width: 1280px;
  }
  .turism_header h2 {

    font-size: 23px;
  }
  
  
  .turism_desc h1 {
    font-size: 30px;
   text-align: center;
  
  }

  
.eth_tur{
  padding: 20px, 20px;
}


  .eth_tur_desc p{
    text-align: justify;
    width: 90%;
    left: 3px;

  }
  
  .eth_tur_img{
    height:  100%;
    margin-right: 2%;
    
  }
  .eth_tur_img img{
    object-fit: cover;
    height: 320px;
  }



 
  .turism_Section{
    margin-top: 20px;
  }

  
  .card_header h3 {

    font-size: 30px;
    font-weight: 400;
    left: 5px;
  
  }
  .turism_desc{
    left: 0;
  }
  .turism_desc h1{
    left: 5px;
    font-size: 28px;
    color: red;
  }
  


  
}
@media (max-width: 1024px) {
  .container{
    width: 1024px;
  }
  .eth_tur{
   justify-content: space-between;
  }
  .eth_tur_desc {
    text-align: justify;
    width: 300px;
    left: 3px;

  }
  
  .eth_tur_img{
  width: 200px;
    
  }
  .eth_tur_img img{
    object-fit: cover;
    width: 200px;
    height: 320px;
  }
  
  
}
@media (max-width: 768px) {
  .container{
    width: 768px;
  }
  
}

@media (max-width: 640px) {
  .container{
    width: 640px;
  }
 

}

@media (max-width: 475px) {
  .container{
    width: 475px;
  }
 
  .turism_header h2{
    font-size: 22px;
    text-align: center;
  }

    .eth_tur_desc {
    text-align: justify;
    width: 300px;
    left: 3px;

  }
  
  .eth_tur_desc h1{
   text-align: justify;
   font-size: 22px;
   font-weight: bold;

  }
  .eth_tur_img{
  width: 200px;
    
  }
  .eth_tur_img img{
    object-fit: cover;
    width: 150px;
    height: 220px;
  }
 
  .see_more{
    font-size: 18px;
   }
 
}

@media (max-width: 375px) {
  .container{
    width: 375px;
  }

  .eth_tur_desc h1{
    text-align: justify;
    font-size: 22px;
    font-weight: bold;
 
   }
   .eth_tur_img{
   width: 200px;
     
   }
   .eth_tur_img img{
     object-fit: cover;
     width: 100px;
     height: 150px;
   }
   .see_more{
    font-size: 18px;
   }
 
 
 
}


  

  