.footer{
  background: black;
}
.logomain-2{
  height: 96px;
  left: 48px;
  object-fit: cover;
  width: 102px;
  border: 2px solid dodgerblue;
  border-radius: 50%;
}
.logo_desc p{
  font-size: 20px;
  color: white;
}

.exeth{
  color: green;

}
.eth{
  color: yellow;

}

.opia{
  color: red;

}



.quick p{
  color: dodgerblue;
  font-size: 23px;
  padding: 10px;
}

.quick ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 20px;
  margin-left: 5px;
  
  
}
.quick ul li{
  list-style: none;
  padding: 10px;
}
.quick ul .link{
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
}


.distination p{
color: dodgerblue;
font-size: 20px;

}
.distination ul{
  display: flex;
  flex-direction: column;
  
}
.distination ul li{
  list-style-type: disc;
  color: white;
  padding: 5px;
}
.distination ul .link{
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 5px;
  
}

.main_footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social_media p{
  color: dodgerblue;
  font-size: 23px;
}

.social_media ul{
  display: flex;
  padding: 30px;
  margin-left: 5px;  
}
.social_media ul li{
  list-style: none;
}

.social_media ul .link{
  padding: 5px;
  color: white;
  font-size: 25px;
  list-style-type: none;
  text-decoration: none;
}

.copy_right p{
  color: white;
  text-align: center;
  font-weight: bold;
}

.underline{
  background-color: #0ebdf5;
  height: 5px;
  position: absolute;
  width: 133px;
}



@media (max-width: 1536px) {

  

  
}


@media (max-width: 1280px) {
  .footer{
    width: 100%;
  }

  .main_footer{
    display: grid;
    grid-template-columns: repeat(2, 50%);
   
  }
  .quick p{
    text-align: center;
  }
  .distination ul{
    margin-left: -15px;
  }
  .distination p{
    text-align: center;
    margin-left: -10px;

  }
  .distination ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .distination ul li{
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .social_media p{
    text-align: center;
  }

  
  
  
  
  
  
   
  }
  
 


  

@media (max-width: 1024px) {
 
  
}
@media (max-width: 768px) {
  

  
}

@media (max-width: 640px) {
  .social_media ul{
    display: flex;
    flex-direction: column;
  }
   


}

@media (max-width: 475px) {
  .social_media ul{
    display: flex;
    flex-direction: column;
  }
   


 
 
}

@media (max-width: 375px) {
  
  .main_footer{
    display: flex;
    flex-direction: column;
   
  }
 
 
 
}

