
.rectangle-9 {
    height: 461px;
    left: 0;
    position: absolute;
    top: 943px;
    width: 1440px;
  }
  
   .text-wrapper-14 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    height: 40px;
    left: 959px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1123px;
    white-space: nowrap;
  }
  
  .text-wrapper-15 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    height: 40px;
    left: 964px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1079px;
    white-space: nowrap;
  }
  
   .text-wrapper-16 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    height: 40px;
    left: 958px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1038px;
    white-space: nowrap;
  }
  
  .text-wrapper-17 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    height: 40px;
    left: 736px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1132px;
    white-space: nowrap;
  }
  
  .carbon-dot-mark {
    height: 50px;
    left: 899px;
    position: absolute;
    top: 1117px;
    width: 60px;
  }
  
   .carbon-dot-mark-2 {
    height: 50px;
    left: 899px;
    position: absolute;
    top: 1075px;
    width: 60px;
  }
  
   .text-wrapper-18 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    height: 40px;
    left: 743px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1095px;
    white-space: nowrap;
  }
  
  .carbon-dot-mark-3 {
    height: 50px;
    left: 680px;
    position: absolute;
    top: 1086px;
    width: 60px;
  }
  
   .carbon-dot-mark-4 {
    height: 50px;
    left: 899px;
    position: absolute;
    top: 1032px;
    width: 60px;
  }
  
   .text-wrapper-19 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    height: 40px;
    left: 728px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1041px;
    white-space: nowrap;
  }
  
  
  .rectangle-10 {
    background-color: #0ebdf5;
    height: 8px;
    left: 702px;
    position: absolute;
    top: 1001px;
    width: 133px;
  }
  
 .text-wrapper-20 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    left: 929px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1227px;
    white-space: nowrap;
  }
  
  .text-wrapper-21 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    left: 487px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1120px;
    white-space: nowrap;
  }
  
 .text-wrapper-22 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    left: 485px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1066px;
    white-space: nowrap;
    width: 101px;
  }
  
 .text-wrapper-23 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    left: 485px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1016px;
    white-space: nowrap;
  }
  
.explore-ethiopia {
    color: transparent;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    left: 48px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1106px;
    white-space: nowrap;
  }
  
 .text-wrapper-24 {
    color: #0ef317;
  }
  
 .text-wrapper-25 {
    color: #ffffff;
  }
  
 .text-wrapper-26 {
    color: #ebff09;
  }
  
  .text-wrapper-27 {
    color: #ff0000;
  }
  
  .logomain-2 {
    height: 96px;
    left: 48px;
    object-fit: cover;
    position: absolute;
    top: 969px;
    width: 102px;
  }
  
 .ellipse {
    border: 5px solid;
    border-color: #11ddea;
    border-radius: 65px;
    height: 130px;
    left: 34px;
    position: absolute;
    top: 949px;
    width: 130px;
  }
  
 .text-wrapper-28 {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    left: 464px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 960px;
    white-space: nowrap;
  }
  
.p {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    left: 283px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 1248px;
    white-space: nowrap;
  }
  
   .ic-outline-facebook {
    height: 30px;
    left: 1051px;
    position: absolute;
    top: 1293px;
    width: 30px;
  }