.navbar {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  padding: 10px 20px;
  height: 70px;

  border-radius: 0px;
  border-radius: 0px;
  background: #c0c0c0;
  box-shadow: 13px 13px 60px #717171, -13px -13px 60px #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  color: dodgerblue;
  font-size: 24px;
  font-weight: bold;
}
.project{
  color: white;
  font-size: 20px;
  background-color: dodgerblue;
  height: 40px;
  text-align: center;
}
.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 5px solid dodgerblue;
  border-radius: 50%;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
}

ul li {
  position: relative;
}

ul .nav-link {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 15px 20px;
  transition: background 0.3s, color 0.3s;
}

ul .nav-link:hover {
  background: #c0c0c0;
  color: dodgerblue;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.menu-icon {
  display: none;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #333;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar-nav {
    border-radius: 50px;
    background: #c0c0c0;
  }
  .nav-link {
    color: white;
    font-size: 16px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    margin: 30px 0;
  }
}

.navbar {
  background-color: #333;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-logo {
  color: #fff;
  font-size: 1.5rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.nav-item {
  margin: 0 20px;
}

.nav-links {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links:hover {
  color: #04aa6d;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #333;

    transition: all 0.5s ease;
  }
  .navbar-nav {
    border-radius: 50px;
    background: #c0c0c0;
  }
  .nav-link {
    color: white;
    font-size: 16px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 40px 0;
  }
}
